
:root {
  --white: hsl(246, 99%, 48%);

};


body {
  font-family: sans-serif;
  background-color:hsl(204, 100%, 1%);
  margin: 0 auto;
}


header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  padding-top: 0px;
  background-color: hsl(227, 97%, 49%);
}


header h1 {
  font-size: 60px;
  background-color: rgb(6, 6, 245);
}


ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color:rgb(250, 249, 252);
}
  

a {
    padding: 8px;
}

/* Sections cards together */
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 auto;
  align-items: center;
}

/* Style of the right cards */
.Rcard {
  background-color: hsl(240, 25%, 97%);
  color: hsl(242, 97%, 49%);
  font-size: 18px;
  padding: 30px 40px;
  width: 70%;
  border-left: 2px solid;

}

/* Style of the left cards */
.Lcard {
  background-color: hsl(240, 99%, 49%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(195, 33%, 98%);
  margin: 0 auto;
  padding: 30px 60px;
  width: 30%;
}

/* Sets images to the width of their box */
.img-big{
  width: 100%;
}

/* Makes the boxes that hold the images look better */
.img-box{
  margin-top: 30px;
  width: 40%;
  margin-left: 10px;
}

/* Sets the first image to be larger than the rest */
.first-img-box{
  height: 500px;
  margin-left: 10px;


